body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #919191;
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("estrada.jpg") ;
    /* -webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both; */
}
div#topo{
    width: 100%;
    height: auto;
}
header{
    width: 980px;
    height: 50px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 350px 630px;
    /*border: 1px solid red;*/
}
header #header-contato {
    text-align: right;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
}
#grupo h1{
    font-size: 2em;
}
#grupo h2{
    font-size: 1em;
}
header #header-contato li {
    display: inline-block;
    border-left: 1px solid #c0bab6;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}
header #header-contato li:first-child {
    margin: 0;
    padding: 0;
    border: none;
}
#topo, #topo a {
    color: #c0bab6;
    background-color: #333333;
    text-decoration: none;
}
span.material-icons{
    vertical-align: middle;
}
a {
    color: #FF9900;
    text-decoration: none;
}
nav{
    width: 980px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* border: 1px solid red; */
}
nav ul{
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.85em;
}
nav li{
    display: inline-block;
    margin: 0 30px 0 0;
}
nav li a {
    display: block;
    padding: 20px;
    font-weight: bold;
}
nav.home li.link_home a, nav a:hover {
    color: #919191;
}
nav.empresa li.link_empresa a, nav a:hover {
  color: #919191;
}
nav.servico li.link_servico a, nav a:hover {
  color: #919191;
}
main {
    width: 980px;
    height: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
}
.sectionMain {
    width: 190px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: #000;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}
.sectionMain h1{
    text-align: center;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;   
}
.sectionMain p{
    line-height: 20px;
    text-align: justify;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
}
.sectionMain article{
    height: 250px;
}
.sectionMain footer{
    text-align: center;
}
.botao{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    padding: 5px 15px;
}
a.botao{
    color: #FFF;
    border: 1px solid;
    border-radius: 5px;
    -webkit-animation: bounce-in-top 3.0s both;
	        animation: bounce-in-top 3.0s both;
}
.botao.saiba_mais_caminhoes{
    background: linear-gradient(to right, #dae670, #ddec0c);
    text-shadow: 1px 1px 0 #000;
    border-color: #ddec0c;
}
.botao.saiba_mais_caminhoes:hover{
    color: #ddec0c;
    border-color: #ddec0c;
}
.botao.saiba_mais_rastreamento{
    background: linear-gradient(to right, #65cee9, #2f42aa);
    text-shadow: 1px 1px 0 #000;
    border-color: #2f42aa;
}
.botao.saiba_mais_rastreamento:hover{
    color: #2f42aa;
    border-color: #2f42aa;
}
.botao.saiba_mais_smartphone{
    background: linear-gradient(to right, #e08879, #d6230b);
    text-shadow: 1px 1px 0 #000;
    border-color: #d6230b;
}
.botao.saiba_mais_smartphone:hover{
    color: #d6230b;
    border-color: #d6230b;
}
.botao.saiba_mais_suporte{
    background: linear-gradient(to right, #e079e0, #8a0574);
    text-shadow: 1px 1px 0 #000;
    border-color: #8a0574;
}
.botao.saiba_mais_suporte:hover{
    color: #8a0574;
    border-color: #8a0574;
}
#sectionClient{
    width: 980px;
    height: 290px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
#sectionClient h1{
    text-align: center;
    padding-top: 10px;
    color: #0f1849;;
    font-weight: bold;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}
#contentClient{
    height: 220px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
    
}
#contentClient article{
    margin: 10px;    
}
figcaption.text-client {
  padding-top: 10px;
  font-size: 1.2em;
  text-align: justify;
  color: #232323;  
}
#rodape {
  width: 980px;
  margin-left: auto;
  margin-right: auto;  
}
#containerRodape {
  height: 350px;
  background-color: #000;
  margin-top: 20px;  
}
#rodape_acessoRapido li a {
  height: 25px;
  margin: 10 0 0 0;
  padding: 0px;  
}
#rodape_acessoRapido, #rodape_comentarios, #caixa_formulario {
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px;
  /* border: 1px solid #d6230b; */
}
#rodape_acessoRapido li {
  list-style: none;
  /* font-size: 1.3em; */
  margin-top: 10px;
  /* border: 1px solid red; */
}
#rodape_comentarios li {
  height: 25px;
  margin: 10 0 0 0;
  padding: 0px;
}
.rodape_title {
  text-align: center;
}
#caixa_formulario label {
  display: block;
  margin-top: 10px;
  padding-left: 5px;
}
#caixa_formulario input {
  height: 25px;
}
#caixa_formulario textarea {
  height: 100px;
  resize: none;
}
#caixa_formulario input, #caixa_formulario textarea {
  border-radius: 5px;
  padding-left: 5px;
  color: #fff;
  background-color: #333333;
  /* border: 1px solid #666666; */
}
#botoes {
  display: flex;
  margin-top: 10px;
}
#caixa_formulario input[type=submit], #caixa_formulario input[type=reset] {
  margin-right: 10px;
  cursor: pointer;
  background-color: #FF9900;
  color: #232323;
}
#caixa_formulario input[type=submit]:hover, #caixa_formulario input[type=reset]:hover {
  background-color: #333333;
  color: #ccc;
  border-color: #ccc;
}
#empresaMain {
  width: 980px;
  height: 400px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
.valores {
  text-align: center;
  padding-top: 20px;
  color: #0f1849;
  font-size: 1.1em;
}
.valores h3 {
  font-weight: bold;
}
#empresaMain {
  display: grid;
  grid-template-columns: auto 280px;
  padding-right: 40px;
  color: white;
}
.map {
  margin-top: 40px;
  margin-left: 40px;
}
.ondeEstamos {
  margin-top: 40px;
}
.ondeEstamos p {
  text-align: justify;
  font-size: 1.2em;
}
.ondeEstamos h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.servicoMain {
  width: 980px;
  height: 640px;
  /* border: 1px solid red; */
  background-color: #f3efef5e;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 328px 328px 328px;
  padding-top: 35px;
  padding-left: 100px;
  border-radius: 20px;
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}
#painelServicos {
  width: 220px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  color: #0f1849;
  text-align: center;
  padding: 40px 5px 0 5px;
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.7s both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.7s both;
}
#mainServ {
  height: auto;
}
h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-6-24 16:33:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-6-30 19:20:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-30 19:24:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-30 21:20:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}



  
